# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers

*       @informalsystems/hydro_maintain
*       @philrx31
*       @CarterLWoetzel
*       @robomcgobo
*       @triccs
*       @aesmonty
*       @JohnnyWyles